.quotes-back {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #156800; /* Set background to black */
    color: #ffffff; /* Set text color to white for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

}
.slideshow-qt {
    width: 100%; /* Make the container width full */
    max-width: 100%;
    text-align: center; /* Center the content */
}
.quote {
    display: none;
    color: #fff; /* White text color */
    font-size: 2rem; /* Larger text size */
    padding: 20px;
    text-align: center;
}
.quote.active {
    display: block;
}
.dots-qt {
    margin-top: 20px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #51be51;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dot.active {
    background-color: #fff;
}