<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>plant diseases ditection</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static\lib\animate\animate.min.css" rel="stylesheet">
    <link href="static\lib\owlcarousel\assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static\lib\lightbox/css\lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static\css\bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static\css\style.css" rel="stylesheet">

    <link href="static\css\fertilizer.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark text-light px-0 py-2">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <span class="fa fa-phone-alt me-2"></span>
                    <span>+91 9112391123</span>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <span class="far fa-envelope me-2"></span>
                    <span>plant@gmail.com</span>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <span>Follow Us:</span>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="{{ url_for('home') }}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="static\img\plant doctor.png" alt="Logo" style="height: 80px; width: 80px; border-radius: 60%; object-fit: cover; margin-right: 5px;">
            <h1 class="m-0">Plant Doctor</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{ url_for('home') }}" class="nav-item nav-link active">Home</a>
                <a href="{{ url_for('about') }}" class="nav-item nav-link">About</a>
                <a href="{{ url_for('services') }}" class="nav-item nav-link">Services</a>
                <a href="{{ url_for('predict') }}" class="nav-item nav-link">Predict</a>
                <a href="{{ url_for('fertilizer') }}" class="nav-item nav-link">Fertilizer</a>
                <a href="{{ url_for('treatment') }}" class="nav-item nav-link">Treatment</a>
                <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">fertilizer</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">fertilizer</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="fertilizer">
        <h1>🌱 Plant Disease and Fertilizer Search</h1>
        <div class="language-selection">
            <button onclick="changeLanguage('en')">English</button>
            <button onclick="changeLanguage('hi')">हिन्दी</button>
            <button onclick="changeLanguage('gu')">ગુજરાતી</button>
        </div>
        <div class="search-fz">
            <input type="text" id="searchQuery" placeholder="Enter plant disease or fertilizer name" oninput="search()">
            <button class="search-btn" onclick="search()">🔍</button>
        </div>
        <div id="results" class="results-fz">
            <div class="card" data-name="Potassium-based fertilizers, Apple Scab,सेब की पपड़ी,એપલ સ્કેબ,पोटैशियम आधारित उर्वरक,પોટેશિયમ આધારિત ખાતર">
                <h3 class="en">🌿 Apple Scab</h3>
                <h3 class="hi" style="display:none;">🌿 सेब की पपड़ी</h3>
                <h3 class="gu" style="display:none;">🌿 એપલ સ્કેબ</h3>
                <p class="en">Potassium-based fertilizers</p>
                <p class="hi" style="display:none;">पोटैशियम आधारित उर्वरक</p>
                <p class="gu" style="display:none;">પોટેશિયમ આધારિત ખાતર</p>
                <div class="details" style="display:none;">
                    <p class="en">Symptoms: Dark, olive-green spots on leaves and fruit.</p>
                    <p class="hi" style="display:none;">लक्षण: पत्तियों और फलों पर गहरे, जैतूनी-हरे धब्बे।</p>
                    <p class="gu" style="display:none;">લક્ષણો: પાંદડા અને ફળો પર કાળા, ઓલિવ-લીલા દાગ.</p>
                    <p class="en">How to Use: Apply potassium sulfate (0-0-50) at a rate of 2-4 pounds per tree in spring to improve disease resistance.</p>
                    <p class="hi" style="display:none;">कैसे उपयोग करें: रोग प्रतिरोधक क्षमता बढ़ाने के लिए वसंत ऋतु में प्रति पेड़ 2-4 पाउंड पोटेशियम सल्फेट (0-0-50) लगाएं।</p>
                    <p class="gu" style="display:none;">કેમ ઉપયોગ કરવો: રોગ પ્રતિકારશક્તિ સુધારવા માટે વસંતકાળમાં દરેક વૃક્ષ માટે 2-4 પાઉન્ડ પોટેશિયમ સલ્ફેટ (0-0-50) લાગુ કરો.</p>
                </div>
                <button class="details-button">More Details </button>
            </div>
            <div class="card" data-name="NPK with Micronutrients Fertilizer, Cedar Apple Rust,देवदार सेब जंग,સીડર એપલ રસ્ટ,सूक्ष्म पोषक तत्वों के साथ संतुलित एनपीके ,સૂક્ષ્મ પોષકતત્વો સાથે સંતુલિત NPK">
                <h3 class="en">🌱 Cedar Apple Rust</h3>
                <h3 class="hi" style="display:none;">🌱 देवदार सेब जंग</h3>
                <h3 class="gu" style="display:none;">🌱 સીડર એપલ રસ્ટ</h3>
                <p class="en">Balanced NPK (10-10-10) with Micronutrients</p>
                <p class="hi" style="display:none;">सूक्ष्म पोषक तत्वों के साथ संतुलित एनपीके (10-10-10)</p>
                <p class="gu" style="display:none;">સૂક્ષ્મ પોષકતત્વો સાથે સંતુલિત NPK (10-10-10)</p>
                <div class="details" style="display:none;">
                    <p class="en">Symptoms: Orange-yellow spots on leaves; fruit distortion.</p>
                    <p class="hi" style="display:none;">लक्षण: पत्तियों पर नारंगी-पीले धब्बे; फल विकृति।</p>
                    <p class="gu" style="display:none;">લક્ષણો: પાંદડા પર નારંગી-પીળા દાગ; ફળ વિકૃતિ.</p>
                    <p class="en">How to Use: Apply in early spring at 1-2 pounds per tree to promote healthy growth and resistance.</p>
                    <p class="hi" style="display:none;">कैसे उपयोग करें: स्वस्थ वृद्धि और प्रतिरोध को बढ़ावा देने के लिए शुरुआती वसंत में प्रति पेड़ 1-2 पाउंड लगाएं।</p>
                    <p class="gu" style="display:none;">કેમ ઉપયોગ કરવો: આરોગ્યદાયક વૃદ્ધિ અને પ્રતિકારશક્તિ વધારવા માટે પ્રારંભિક વસંતમાં દરેક વૃક્ષ માટે 1-2 પાઉન્ડ લાગુ કરો.</p>
                </div>
                <button class="details-button">More Details </button>
            </div>
            <div class="card" data-name="Calcium and Magnesium-based fertilizers, Black Rot,काला सड़न,બ્લેક રોટ,कैल्शियम और मैग्नीशियम आधारित उर्वरक,કેલ્શિયમ અને મેગ્નેશિયમ આધારિત ખાતર">
                <h3 class="en">🍀 Black Rot</h3>
                <h3 class="hi" style="display:none;">🍀 काला सड़न</h3>
                <h3 class="gu" style="display:none;">🍀 બ્લેક રોટ</h3>
                <p class="en">Calcium and Magnesium-based fertilizers</p>
                <p class="hi" style="display:none;">कैल्शियम और मैग्नीशियम आधारित उर्वरक</p>
                <p class="gu" style="display:none;">કેલ્શિયમ અને મેગ્નેશિયમ આધારિત ખાતર</p>
                <div class="details" style="display:none;">
                    <p class="en">Symptoms: Purple spots on leaves, fruit rot, and bark cankers.</p>
                    <p class="hi" style="display:none;">लक्षण: पत्तियों पर बैंगनी धब्बे, फल सड़ना, और छाल में कैंकर।</p>
                    <p class="gu" style="display:none;">લક્ષણો: પાંદડા પર જાંબલી દાગ, ફળ સડવું, અને છાલમાં કૅન્કર.</p>
                    <p class="en">How to Use: Apply 5-10 pounds per tree in early spring to maintain soil pH and improve disease resistance.</p>
                    <p class="hi" style="display:none;">कैसे उपयोग करें: मिट्टी का pH बनाए रखने और रोग प्रतिरोधक क्षमता बढ़ाने के लिए शुरुआती वसंत में प्रति पेड़ 5-10 पाउंड लगाएं।</p>
                    <p class="gu" style="display:none;">કેમ ઉપયોગ કરવો: માટીના pH ને જાળવી રાખવા અને રોગ પ્રતિકારશક્તિ સુધારવા માટે પ્રારંભિક વસંતમાં દરેક વૃક્ષ માટે 5-10 પાઉન્ડ લાગુ કરો.</p>
                </div>
                <button class="details-button">More Details </button>
            </div>
        </div>
    </div>
        


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Our Office</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Gandhinagar</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 91123 91123</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>plant@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <a class="btn btn-link" href="{{ url_for('predict') }}">Disease Diagnosis</a>
                    <a class="btn btn-link" href="{{ url_for('treatment') }}">Treatment Recommendations</a>
                    <a class="btn btn-link" href="{{ url_for('fertilizer') }}">Fertilizer Suggestions</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
                    <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
                    <a class="btn btn-link" href="{{ url_for('services') }}">Our Services</a>
                    <a class="btn btn-link" href="{{ url_for('contact') }}">Support</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a>Plant Doctor</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By team codex</a> 
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static\lib\wow/wow.min.js"></script>
    <script src="static\lib\easing\easing.min.js"></script>
    <script src="static\lib\waypoints\waypoints.min.js"></script>
    <script src="static\lib\owlcarousel\owl.carousel.min.js"></script>
    <script src="static\lib\counterup\counterup.min.js"></script>
    <script src="static\lib\parallax\parallax.min.js"></script>
    <script src="static\lib\isotope\isotope.pkgd.min.js"></script>
    <script src="static\lib\lightbox\js\lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="static\js\main.js"></script>



    <script src="static\js\fertilizer.js"></script>
    
    

</body>

</html>
